<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@pm.title_prefix} - #{$cfg[:title]}" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="title">
        <a href="/">
          <span class="first-name"><span class="first-letter">M</span>ASATO</span><span class="family-name"><span class="first-letter">H</span>ATAYAMA</span>
        </a>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="copyright">
        Copyright &copy; <%= Date.today.strftime("%Y") %> Masato Hatayama
      </div>
    </footer>
  </body>
</html>
