<section>
  <% @pm.entries.each do |entry| %>
    <% @entry = entry %>
    <%= erb :partial_entry %>
  <% end %>
</section>
<div class="prevnext">
  <div class="prev-page">
    <% if @pm.prev_page_num == 1 %>
      <a href="/">« 前のページ</a>
    <% elsif @pm.prev_page_num %>
      <a href="/page/<%= @pm.prev_page_num %>">« 前のページ</a>
    <% end %>
  </div>
  <div class="next-page">
    <% if @pm.next_page_num %>
      <a href="/page/<%= @pm.next_page_num %>">次のページ »</a>
    <% end %>
  </div>
</div>
