<section>
  <% @post = @pm.post %>
  <%= erb :partial_post %>
</section>
<div class="prevnext">
  <div class="prev-page">
    <% if @pm.prev_post %>
      <a href="/<%= @pm.prev_post.id %>">« 前の記事</a>
    <% end %>
  </div>
  <div class="next-page">
    <% if @pm.next_post %>
      <a href="/<%= @pm.next_post.id %>">次の記事 »</a>
    <% end %>
  </div>
</div>
