<section>
  <% @pv.posts.each do |post| %>
    <% @post = post %>
    <%= erb :partial_post %>
  <% end %>
</section>
<div class="prevnext">
  <div class="prev-page">
    <% if @pv.prev_page_num == 1 %>
      <a href="/">« 前のページ</a>
    <% elsif @pv.prev_page_num %>
      <a href="/page/<%= @pv.prev_page_num %>">« 前のページ</a>
    <% end %>
  </div>
  <div class="next-page">
    <% if @pv.next_page_num %>
      <a href="/page/<%= @pv.next_page_num %>">次のページ »</a>
    <% end %>
  </div>
</div>
