<article>
  <h1><%= @post.title %></h1>
  <div>
    <span class="date"><%= @post.date.strftime($cfg[:date_format]) %></span>
    <a href="/<%= @post.post_id %>" class="permlink">∞</a>
  </div>
  <div class="content">
    <%= REDCARPET.render(@post.content) %>
  </div>
  <div class="separator">◆</div>
</article>
