body {
  align: center;
  background-color: #000;
  color: #DDD;
  font-family: 'Nunito', sans-serif;
  line-height: 1.3;
  margin: auto;
}

header {
  border-bottom: 1px solid #888;
  margin: 0em;
  text-align: center;
}
header .title {
  font-size: 1.7em;
  margin: 0.5em 0.0em 0.5em 0.0em;
}
header .first-name {
  color: #888;
}
header .family-name {
  color: #8CF;
}
header .first-letter {
  font-size: 150%;
}

nav {}

section {}

article {
  margin: 0.2em;
  padding: 0.2em;
}
article .date {
  color: #888;
}
article .category {
  background-color: #8CF;
  border-radius: 4px;
  color: #222;
  padding: 0.0em 0.3em 0.0em 0.3em;
}
article .permlink {
  margin: 0.0em 0.3em 0.0em 0.3em;
}
article .content {
  margin: 2.0em 0.0em 2.0em 0.0em;
}
article .separator {
  color: #888;
  margin: 1.0em 0.0em;
  padding: 1.0em 0.0em;
  text-align: center;
}
article h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.0em;
}
article h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.0em 0.0em;
}

footer {
  border-top: 1px solid #888;
  margin: 0.0em;
  text-align: center;
}
footer .copyright {
  font-size: 0.9em;
  margin: 1.0em 0.0em 1.0em 0.0em;
}

p {
  margin: 1.0em 0.0em 1.0em 0.0em;
}

a {
  color: #8CF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header a:hover {
  text-decoration: none;
}

li {
  margin: 0.1em 0.0em 0.1em 2.0em;
  padding: 0.1em 0.0em 0.1em 0.0em;
}

pre {
  background-color: #222;
  border: 1px solid #888;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
  inline: inline-block;
  padding: 0.5em;
}

code {
  background-color: #222;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
  padding: 0.0em 0.2em;
}

.prevnext {
  clear: both;
  display: flex;
  justify-content: space-between;
  margin: 1.0em 0.1em 1.0em 0.1em;
}

.prev-page {
  float: left;
  text-align: left;
}

.next-page {
  float: right;
  text-align: right;
}

/* Media queries */
@media screen and (max-device-width: 680px) {
  body {
    width: 94%;
  }
}
@media screen and (min-device-width: 679px) {
  body {
    width: 640px;
  }
}
